*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500&family=Gentium+Book+Plus&family=Inter&family=Oswald:wght@500&family=Roboto:ital,wght@0,100;1,700&family=Shadows+Into+Light&display=swap');

html::-webkit-scrollbar {
    width: 12px;
    background-color: #211915;
}
html::-webkit-scrollbar-thumb {
    background-color: #f8e12e;
}
body{
    background-color: #211915;
}
.headercon{
    width: 100%;
    min-height:100vh;
    display: flex;
    flex-direction: column;
    background-image:url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.navCtn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 7vh;   
}
.a-nav{
    padding: 10px;
    margin-right: 10px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-weight: 600;
}
.titleCtn{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title{
    margin: 10px;
    font-family: 'Roboto', sans-serif;
    font-size:50px;
    color:#f8e12e;
    text-shadow: 2px 2px 2px red;
}
.logo{
    width: 13vw;
    margin-top: 15px;
}
.navconten{
    height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.maincon{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: #211915;
}
main{
    background-color: #211915;

}
.h2con{
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
h2{
    font-size:40px;
    color: red;
    text-shadow: 2px 2px 2px red;
    font-family: 'Roboto', sans-serif;
    color:#f8e12e;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    color:red;
    margin: 0.5rem;
}
p{
    font-family: 'Roboto', sans-serif;
    margin: 1rem;
    padding: 0.3rem;
    font-size: 19px;
    color:white;
}
footer{
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}
.text-footer{
    color: white;
}

/* RULES */
.medio{
    background-color:#211915;
    display: flex;
    flex-direction: column;
    max-height: 80vh;
}    
.rules{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ol{
    font-family:'Franklin Gothic Medium';
    color:white;
    font-size: 19px;
}
li{
    list-style-position: inside;
    margin-left: 1rem;
    color:white;
    padding: 1px;
}
.circle{
    list-style-type: circle;
}
ul{
    margin: 2rem;
    font-family:'Franklin Gothic Medium';
    color: white;
    font-size: 19px;
}
/* GAMES */
.gamecon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 70%;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.tablecon{
    width: 70%;
    height: 50;
    padding: 1rem;
    display: flex;
}
table{
    width: 60vw;
    height: 40vh;
    border-collapse: collapse;
}

th{
    background-color:red;
    height: 30px;
    color: white;
}
td{
    background-color:#f8e12e;
    color:black;
    text-align: center;
}
.subrayar{
    text-decoration: underline;
    color: #fff;
}
.p-rules{
    color: #fff;
}
.sangria{
    text-indent: 2rem;
    color: #fff;
}
span{
    font-weight: 900;
    color: red;
}
.phone_mail{
     display: flex;
    justify-content: space-between;
}
/* MAPAS */
iframe{
    border: 5px solid black;
}
iframe:hover{
    transform: scale(1.3);
}
/* FORMULARIO */
form{
    border-bottom: none;
    background-color:#f8e12e;
    min-height: 50vh;
    width: 60vw;
    margin-bottom: 2rem;
    color:black;
    font-family:'Franklin Gothic Medium';
    padding: 1rem;
}
fieldset{
    border: none;
    padding: 0.6rem;
}
.regiscon{
    margin-top: 20px;
    min-height: 60vh;
    display: flex;
    justify-content: center;
}
input{
    font-family:'Franklin Gothic Medium';
}
.positions{
    padding: 1rem;
}
.email{
    color: #fff;
}
.gamesCtn{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}
.articlecon{
    height: 20vh;
    display: flex;
    flex-direction: column;
}
.p-color{
    color: black;
}